body {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.clear-fix{
    clear: both;
}
/**Header Starts Here**/

.header {
    background-image: url(../assets/image/newcropped.jpg);
    min-height: 600px;
    position: relative;
}

.header-overlay {
    background-color: rgba(245, 175, 38, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.top-social-bar{
    margin-top: 8px;
    border-bottom: 1px solid #fa8e50;
    padding: 08px 0;

}
.top-social-bar .fa{
    font-size: 16px;

}
.top-social-left{
    float: left;
}
.top-social-left li{
    list-style: none;
    display: inline-block;

}
.top-social-right{
    float: right;
}
.top-social-right li{
    list-style: none;
    display: inline-block;
}
.top-social-bar ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    color: black;
}
.nav-bar-left{
    width: 20%;
    float: left;
}
.nav-bar-left img{
    width: 50%;
}
.nav-bar-right{
    float: right;
}
.nav-bar-right ul{
    margin-top: 16px;
}
.nav-bar-right ul li{
    list-style: none;
    display: inline-block;
}
.nav-bar-right ul li a{
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    color: black;
    font-weight: bold;
}
.cta{
    border: 1px solid black;
    border-radius: 20px;
}
.slogan{
   width: 100%;
}
.slogan-left{
    float: left;
    padding: 100px 0;
}
.slogan-left h1{
    font-size: 64px;
    font-weight: bold;
    margin: 3px 0 ;
}
.slogan-left input{
    margin-top: 10px;
    color: white;
    background-color: black;
    padding: 08px;
    border-style: none;
    font-size: 12px;
}
.slogan-image{
    float: right;
}
.slogan-image img{
    width:75%;
}
/**Header Ends Here**/

/**Section for services starts here**/
.services{
    padding: 40px 0;
}
.lead-heading{
    text-align: center;
}
.lead-inner{
    margin-top: 0px;
    color: orange;
}
.services-detail{
    margin: 20px;
    text-align: center;
}
.service{
    width: 32%;
    padding: 24px;
    float: left;
}
/**Section for services End here**/

/**Section for Offer starts here**/
.offer{
    padding: 40px 0;
}
.offer-inner{
    width: 50%;
    float: left;
}
.offer-inner img{
    width: 90%;
}
.offer-inner h1{
   margin: 3px 0;
}
.offer-inner-detail{
    padding: 60px 0;
}
.offer-inner-detail p{
    margin-bottom: 30px;
}
.offer-inner-detail a{
    border: 1px solid orange;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}
/**Section for Offer End here**/

/**Section for Projects starts here**/
.projects{
    padding: 40px 0;
}
.projects-nav-bar{
    text-align: center;
}
.projects-nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 0;
}
.projects-nav-bar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}
.projects-nav-bar ul li a:hover{
    border: 1px solid orange;
}
.projects-image{
    width: 33.3%;
    float: left;
}
.projects-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.img-hver{
    background-color: rgba(245, 175, 38, 0.6)!important; 
}
[class*=" imghvr-shutter-out-"]:before, [class^=imghvr-shutter-out-]:before {
    background:rgba(245, 175, 38, 0.6)!important;
}
/**Section for Projects end here**/

/**Section for expert start here**/
.experts{
    padding: 40px 0;
    text-align: center;
}
.experts-leading-heading ul li{
    list-style: none;
}
.experts-leading-heading ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a {
    color: #000;
    text-decoration: none;
}
.expert-profile{
    padding: 20px 0;
    width: 100%;
}
.experts-profiles{
    width: 24.5%;
    padding: 10px;
    float: left;
}
.experts-profiles img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/**Section for expert end here**/

/**Section for stats start here**/
.stats-wrapper{
    position: relative;
}
.stats-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(245, 175, 38, 0.6); 
}
.stats-image img{
    width: 100%;
}
.table-wrapper{
    padding: 60px 0;
}
.stats-table{
    width: 100%;
    display: table;   
     
}
.stats-inner-data{
    display: table-row;
    vertical-align: middle; 
}
.table-figure{
    padding: 10px 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.table-figure h1{
    font-size: 56px;
}
.table-figure-desc{
    display: table-cell;
    vertical-align: middle;
}

/**Section for stats end here**/

/**Section for testimonials starts here**/
.testimonials{
   background-color: whitesmoke;
   padding: 40px 0;
    text-align: center;
}
.testimonials .fa {
    font-size: 56px;
    margin: 10px 0;
    color: rgba(245, 175, 38, 0.9);
}
.testimonials-image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(245, 175, 38, 0.9);
    object-fit: cover;
}
.big-image{
    width: 130px!important;
    height: 130px!important;
}
/**Section for testimonials end here**/

/**Section for News Starts here**/
.news{
    padding: 40px 0;
}
.news-leading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.news-details{
    margin: 10px;
    width: 30%;
    float: left;
}
.news-details img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.news-date{
    width: 25%;
    margin: 5px;
    float: left;
}
.news-date a{
    padding: 10px;
    border: 1px solid black;
    float: left;
    font-size: 16px;
    text-align: center;
}
.news-data{
    width: 70%;
    float: left;
}
.news-reading{
    margin: 20px 0;
}
.news-reading a{
    padding: 10px 20px;
    border: 1px solid rgba(245, 175, 38, 0.9);
    text-decoration: none;
    text-transform: uppercase;
}
/**Section for News ends here**/

/**Section for footer starts here**/
.footer{
    padding: 40px 0;
    background-color: 	#F7F8FD;
}
.footer-sponsors{
    border-bottom: 1px solid orange;
    padding: 20px 0;
}
.footer-sponsors img{
    width: 15%;
    margin: 0 25px;
}
.footer-widgets{
    width: 32%;
    float: left;
}
.footer-widgets ul li{
    list-style: none;
    margin: 16px 0;
}
.footer-links {
    display: inline-block;
    margin: 0 20px;
}
.footer-links li{
    list-style: square!important;
}
.footer-links li a{
    text-decoration: none;
}
.footer-widgets input[type="text"]{
    border: 1px solid rgba(245, 175, 38, 0.9);
    padding: 5px;
}
.footer-widgets input[type="button"]{
    background-color: rgba(245, 175, 38, 0.9);
    border: none;
    padding: 5px;
}
.footer-social-bar li{
    display: inline-block;
}
.footer-social-bar li a{
    margin-right: 16px;
}
/**Section for footer ends here**/